# Neon pooled connection string (for app runtime + Prisma Client)
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx-xxxx-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Neon direct connection string (for Prisma migrations)
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxx-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
